# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
  branches:
    include:
      - main
      - feature/Java

pool: Azure Pipelines

stages:
  - stage: Build
    jobs:
      - job: MavenBuild
        steps:
        - task: Maven@3
          inputs:
            mavenPomFile: 'pom.xml'
            mavenOptions: '-Xmx3072m'
            javaHomeOption: 'JDKVersion'
            jdkVersionOption: '1.11'
            jdkArchitectureOption: 'x64'
            publishJUnitResults: true
            testResultsFiles: '**/surefire-reports/TEST-*.xml'
            goals: 'package'
        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(Build.SourcesDirectory)/target'
            ArtifactName: 'Maven Build Artifact'
            publishLocation: 'Container'

  - stage: Linting
    jobs:
      - job: Linting_Java_App
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              Write-Host " JAVA_HOME = $env:JAVA_HOME "
              Write-Host " Java version from agent context: "
              java -version
          displayName: Validate Java Installed

        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              $workDir = "$env:AGENT_TEMPDIRECTORY/checkstyle"

              # Create directory
              Write-Host "Creating directory $workDir"
              New-Item -ItemType Directory -Force -Path $workDir | Out-Null

              # Download Checkstyle
              $checkstyleUrl = "https://github.com/checkstyle/checkstyle/releases/download/checkstyle-10.18.1/checkstyle-10.18.1-all.jar"
              $jarPath = "$workDir/checkstyle.jar"

              Write-Host "Downloading Checkstyle..."
              Invoke-WebRequest -Uri $checkstyleUrl -OutFile $jarPath
              Write-Host "Download complete: $jarPath"

              # Test the JAR
              Write-Host "Testing CheckStyle jar..."
              java -jar $jarPath --version
          displayName: Install CheckStyle

        - task: PowerShell@2
          displayName: Run CheckStyle
          inputs:
            targetType: 'inline'
            script: |
              $jarPath = "$(Agent.TempDirectory)/checkstyle/checkstyle.jar"
              $config = "$(System.DefaultWorkingDirectory)/google_checks.xml"
              $srcFolder = "$(System.DefaultWorkingDirectory)/src"
        
              Write-Host "Running Checkstyle..."
              java -jar $jarPath -c $config $srcFolder
        
              Write-Host "Checkstyle completed."
          
