# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
  branches:
    include:
      - main
      - feature/Java

pool: Azure Pipelines

stages:
  - stage: Build
    jobs:
      - job: MavenBuild
        displayName: Maven Build
        steps:

        - task: SonarQubePrepare@8
          displayName: Prepare SonarQube Analysis
          inputs:
            SonarQube: 'SonarCloud-SC'
            scannerMode: 'cli'
            configMode: 'manual'
            cliProjectKey: 'BhabyaBharti_JavaLoginPracticeApp'
            cliProjectName: 'JavaLoginPracticeApp'
            cliSources: '.'
            extraProperties: |
              sonar.organization=bhabyabharti
              sonar.host.url='https://sonarcloud.io'
              sonar.tests=
              sonar.test.exclusions=**/*

        

        - task: Maven@4
          displayName: mvn build & Run Sonar Analysis
          inputs:
            mavenPomFile: 'pom.xml'
            goals: 'clean verify sonar:sonar'
            options: '-Dsonar.host.url=https://sonarcloud.io -Dsonar.login="6d738a0fb7e64392588deda6688aefc897c22844" -Dsonar.organization=bhabyabharti -Dsonar.projectKey=BhabyaBharti_JavaLoginPracticeApp'
            
            javaHomeOption: 'JDKVersion'
            jdkVersionOption: '1.17'
            mavenVersionOption: 'Default'
            mavenAuthenticateFeed: false
            effectivePomSkip: false
            sonarQubeRunAnalysis: false
            publishJUnitResults: false

        - task: ArchiveFiles@2
          displayName: Archive the Artifacts
          inputs:
            rootFolderOrFile: '$(Build.SourcesDirectory)/target'
            includeRootFolder: false
            archiveType: 'zip'
            archiveFile: '$(Build.ArtifactStagingDirectory)/app.zip'
            replaceExistingArchive: true
        - task: PublishBuildArtifacts@1
          displayName: Publish Build Artifacts
          inputs:
            PathtoPublish: '$(Build.SourcesDirectory)/target'
            ArtifactName: 'MavenBuildArtifact'
            publishLocation: 'Container'



  - stage: Linting
    displayName: Lint Java App
    dependsOn: Build

    jobs:

      - job: Linting_Java_App
        steps:

        - task: PowerShell@2
          displayName: Install and Run StyleLint
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "Initializing npm project..."
              npm init -y

              Write-Host "Installing Stylelint and standard configs..."
              npm install stylelint stylelint-config-standard stylelint-config-recommended --save-dev

              Write-Host "Creating .stylelintrc.json..."
              @"
              {
                "extends": [
                  "stylelint-config-standard",
                  "stylelint-config-recommended"
                ]
              }
              "@ | Out-File -FilePath ".stylelintrc.json" -Encoding UTF8

              Write-Host "Running Stylelint (errors will NOT fail pipeline)..."
              # Run stylelint but ALWAYS return success
              npx stylelint "**/*.css" "**/*.scss"
              # Force task to succeed even if errors are present
              $LASTEXITCODE = 0



  - stage: DeployToDev
    displayName: DeploytoTomcat
    dependsOn: Build
    jobs:
      - job: Deploy
        displayName: Copy War & Restart Tomcat
        steps:
        - task: DownloadBuildArtifacts@1
          displayName: Get the Artifacts
          inputs:
            buildType: 'current'
            downloadType: 'single'
            artifactName: 'MavenBuildArtifact'
            downloadPath: '$(Pipeline.Workspace)'
            
        - task: PowerShell@2
          displayName: Find and Verify WAR File
          inputs:
            targetType: 'inline'
            script: |
              $artifactPath = "$(Pipeline.Workspace)/MavenBuildArtifact"
              Write-Host "Artifact path: $artifactPath"
              
              $warFile = Get-ChildItem -Path $artifactPath -Filter "*.war" -Recurse | Select-Object -First 1
              if ($warFile) {
                Write-Host "Found WAR file: $($warFile.FullName)"
                Write-Host "##vso[task.setvariable variable=WarFileName]$($warFile.Name)"
              } else {
                Write-Error "No WAR file found!"
                exit 1
              }
              
        - task: CopyFilesOverSSH@0
          displayName: Copy WAR to Remote Server
          inputs:
            sshEndpoint: 'sshSC'
            sourceFolder: '$(Pipeline.Workspace)/MavenBuildArtifact'
            contents: '**/*.war'
            targetFolder: '/tmp/'
            readyTimeout: '20000'
            
        - task: SSH@0
          displayName: Deploy WAR to Tomcat
          inputs:
            sshEndpoint: 'sshSC'
            runOptions: 'inline'
            inline: |
              # Stop Tomcat before deploying
              sudo systemctl stop tomcat
              
              # Remove old deployment
              sudo rm -f /opt/tomcat/webapps/JavaLoginShowcase-1.0.0.war
              sudo rm -rf /opt/tomcat/webapps/JavaLoginShowcase-1.0.0
              
              # Move new WAR file
              sudo mv /tmp/JavaLoginShowcase-1.0.0.war /opt/tomcat/webapps/
              sudo chown tomcat:tomcat /opt/tomcat/webapps/JavaLoginShowcase-1.0.0.war
              
              # Start Tomcat
              sudo systemctl start tomcat
              
              echo "Deployment completed successfully!"
              sleep 3
              echo "Tomcat status:"
              sudo systemctl status tomcat --no-pager | head -10
            readyTimeout: '30000'