# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
  branches:
    include:
      - main
      - feature/Java

pool: Azure Pipelines

stages:
  - stage: Build
    jobs:
      - job: MavenBuild
        displayName: Maven Build
        steps:

        - task: SonarQubePrepare@8
          displayName: Prepare SonarQube Analysis
          inputs:
            SonarQube: 'SonarCloud-SC'
            scannerMode: 'cli'
            configMode: 'manual'
            cliProjectKey: 'BhabyaBharti_JavaLoginPracticeApp'
            cliProjectName: 'JavaLoginPracticeApp'
            cliSources: '.'
            extraProperties: |
              sonar.organization=bhabyabharti
              sonar.java.binaries=target/classes
              sonar.java.libraries=target/**/*.jar
              sonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml
              sonar.tests=src/test
              sonar.test.inclusions=src/test/**/*

        

        - task: Maven@4
          displayName: mvn build
          inputs:
            mavenPomFile: 'pom.xml'
            goals: 'clean verify sonar:sonar'
            publishJUnitResults: true
            testResultsFiles: '**/surefire-reports/TEST-*.xml'
            options: '-Dsonar.host.url=https://sonarcloud.io -Dsonar.login="6d738a0fb7e64392588deda6688aefc897c22844"'
            javaHomeOption: 'JDKVersion'
            jdkVersionOption: '1.17'
            mavenVersionOption: 'Default'
            mavenAuthenticateFeed: false
            effectivePomSkip: false
            sonarQubeRunAnalysis: false  # Set to false since we're handling it separately
        #- task: SonarQubeAnalyze@8
        
        - task: SonarQubePublish@8
          displayName: Publish Quality Gate Result
          inputs:
            pollingTimeoutSec: '300'
        - task: ArchiveFiles@2
          displayName: Archive the Artifacts
          inputs:
            rootFolderOrFile: '$(Build.SourcesDirectory)/target'
            includeRootFolder: false
            archiveType: 'zip'
            archiveFile: '$(Build.ArtifactStagingDirectory)/app.zip'
            replaceExistingArchive: true
        - task: PublishBuildArtifacts@1
          displayName: Publish Build Artifacts
          inputs:
            PathtoPublish: '$(Build.SourcesDirectory)/target'
            ArtifactName: 'MavenBuildArtifact'
            publishLocation: 'Container'



  - stage: Linting
    displayName: Lint Java App
    dependsOn: Build

    jobs:

      - job: Linting_Java_App
        steps:

        - task: PowerShell@2
          displayName: Install and Run StyleLint
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "Initializing npm project..."
              npm init -y

              Write-Host "Installing Stylelint and standard configs..."
              npm install stylelint stylelint-config-standard stylelint-config-recommended --save-dev

              Write-Host "Creating .stylelintrc.json..."
              @"
              {
                "extends": [
                  "stylelint-config-standard",
                  "stylelint-config-recommended"
                ]
              }
              "@ | Out-File -FilePath ".stylelintrc.json" -Encoding UTF8

              Write-Host "Running Stylelint (errors will NOT fail pipeline)..."
              # Run stylelint but ALWAYS return success
              npx stylelint "**/*.css" "**/*.scss"
              # Force task to succeed even if errors are present
              $LASTEXITCODE = 0



  - stage: DeployToDev
    displayName: DeploytoTomcat
    dependsOn: Build
    jobs:
      - job: Deploy
        displayName: Copy War & Restart Tomcat
        steps:
        - task: DownloadBuildArtifacts@1
          displayName: Get the Artifacts
          inputs:
            buildType: 'current'
            downloadType: 'single'
            artifactName: 'MavenBuildArtifact'
            itemPattern: 
            downloadPath: '$(Pipeline.Workspace)'
        - task: PowerShell@2
          displayName: Find WAR File
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "=== Searching for WAR files ==="
              $artifactPath = "$(Pipeline.Workspace)/MavenBuildArtifact"
              Write-Host "Artifact path: $artifactPath"
              
              if (-not (Test-Path $artifactPath)) {
                Write-Error "Artifact path does not exist: $artifactPath"
                Write-Host "Available directories in Pipeline.Workspace:"
                Get-ChildItem -Path "$(Pipeline.Workspace)" -Directory | Format-Table Name
                exit 1
              }
              
              # List all files
              Write-Host "All files in artifact:"
              Get-ChildItem -Path $artifactPath -Recurse | Select-Object -First 20 | Format-Table Name, Extension, Length
              
              # Find WAR files
              $warFiles = Get-ChildItem -Path $artifactPath -Filter "*.war" -Recurse
              if ($warFiles.Count -eq 0) {
                Write-Warning "No WAR files found in artifact!"
                Write-Host "Looking for any JAR files instead..."
                $jarFiles = Get-ChildItem -Path $artifactPath -Filter "*.jar" -Recurse
                if ($jarFiles.Count -gt 0) {
                  Write-Host "Found JAR files instead:"
                  $jarFiles | ForEach-Object { Write-Host "  - $($_.FullName)" }
                }
              } else {
                Write-Host "Found $($warFiles.Count) WAR file(s):"
                $warFiles | ForEach-Object { 
                  Write-Host "  - $($_.FullName)"
                }
              }
              
        - task: CopyFilesOverSSH@0
          displayName: Copy Files Over SSH
          inputs:
            sshEndpoint: 'sshSC'
            sourceFolder: '$(Pipeline.Workspace)/MavenBuildArtifact'
            contents: '**/*.war'
            targetFolder: '/opt/tomcat/webapps/'
            readyTimeout: '20000'
        - task: SSH@0
          displayName: Restart Tomcat
          inputs:
            sshEndpoint: 'sshSC'
            runOptions: 'inline'
            inline: |
              sudo systemctl restart tomcat
              echo "Tomcat restarted successfully."
            readyTimeout: '20000'